div{
    box-sizing: border-box;
    border: 1px solid blue;
}
.wrap{
    width: 1903px;
    height: 3290px;
    margin: auto;
}
.wrap>div{width: 100%;}

/* popup 시작 */
#popup{height: 36px;}
#popup{
    background-color: black;
    text-align: center;   
    padding: 8px 0px;
}
#popup>a{
    color: red;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
}

/* header 시작 */
#header{height: 60px;}

#header>div{
    height: 100%;
    float: left;
}

#header{
    height: 60px;
    width: 1903px;
    border: 1px solid blue;
}

/* header_1 */
#header_1{width: 30%;}
#head_1{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
#head_1>li{
    float: left;
    width: 12%;
    height: 100%;
    text-align: center;
    padding: 18px 0px;
}
#head_1>li>a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
    font-weight: 600;
}

/* header2 */
#header_2{
    width: 40%;
    text-align: center;
    padding: 15px 0px;
}
#header_2>a{
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
}

/* header3 */
#header_3{width: 30%;}
#head_3>li{
    height: 100%;
    width: 12%;
    float: right;
    list-style-type: none;
}
#head_3>li>a{
    font-size: 12px;
    color: gray;
    text-decoration: none;
    font-weight: 600;
}

/* navigator 시작 */
#navigator{height: 36px;}
#navi{
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

}
#navi>li{
    float: left;
    height: 100%;
    width: 5%;
    text-align: center;
}
#navi>li>a{
    font-size: 12px;
    text-decoration: none;
    color: gray;
}

/* content 시작 */
#content{height: 3100px;}
#content>div{width: 100%;}
#content_img{height: 3052px;}
#content_more{height: 48px;}

/* footer 시작 */
#footer{height: 58px;}
#footer>div{
    height: 100%;
    float: left;
}
#footer_left{width: 60%;}
#footer_right{width: 40%;}