div{
    border: 1px solid red;
    box-sizing: border-box;
}
.wrap{
    width: 1903px;
    height: 3290px;
    /* margin: auto; */
}
.wrap>div{width: 100%;}

/* ------------------------- popup ------------------------- */
#popup{
    height: 36px;
    background-color: black;
    text-align: center;
    padding-top: 5px;
}
#popup>a{
    text-decoration: none;
    color: red;
    font-size: 12px;
}


/* ------------------------- header ------------------------- */
#header{height: 96px;}
#head{height: 60%;}
#head>div{height: 100%; float: left;}
#header_1{width: 30%;}
#header_2{width: 40%;}
#header_3{width: 30%;}

/* navigator */
#navigator{height: 40%;}
/* ------------------------- content ------------------------- */
#content{height: 3100px;}
#content>div{width: 100%;}
#content_img{height: 3050px;}
#content_more{height: 50px;}

/* ------------------------- footer ------------------------- */
#footer{height: 58px;}
#footer>div{height: 100%; float: left;}
#footer_1{width: 60%;}
#footer_2{width: 40%;}